body {
  width: 1200px;

  margin: 0 auto;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}
.popup,
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.main-menu-items a {
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.btn {
  display: inline-block;
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
}

.btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.main-menu-items,
.main-submenu,
.hits-list,
.about-us-list,
.social-btn-list,
.footer-nav-list,
.catalog-nav-list,
.catalog-list,
.breadcrumbs,
.catalog-form-list,
.fatty-list,
.filler {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-menu a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.worktime {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.slide-description {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slide-btn {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
}

.gift {
  display: flex;
  margin-bottom: 40px;
  margin-left: 25px;
  margin-right: 25px;
}

.gift-item {
  width: 560px;
  height: 230px;
  border-radius: 15px;
}

.gift-item-berry {
  margin-right: 25px;
}

.gift-item-berry {
  background-color: #c7204a;
  background-image: url("../img/backgrounds/berry.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.gift-item-chocolate {
  background-color: #532d16;
  background-image: url("../img/backgrounds/chocolate.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.gift-item-header {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.gift-item-text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.hits-list {
  display: flex;
  margin-left: 12px;
}

.product-card {
  width: 294px;
  display: flex;
  flex-direction: column;
}

.product-card:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.product-card-image {
  border-radius: 140px;
  margin-top: 5px;
  margin-left: 13px;
}

.product-card-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.product-card-price span {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.product-card-description {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.about-us {
  background-color: #ede0c6;
  background-image: url("../img/backgrounds/waffle.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 1145px;
  height: 310px;
  border-radius: 15px;
  display: flex;
  margin-bottom: 40px;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;
}

.about-us-header {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
  margin-left: 20px;
  margin-top: 30px;
}

.about-us-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 20px;
}

.about-us-list-item {
  color: #323232;
  width: 540px;
  margin-bottom: 10px;
}

.promo {
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 40px;
}

.promo-wrapper {
  width: 560px;
  height: 220px;
  border-radius: 15px;
}

.promo-blog {
  background-color: #ffffff;
  background-image: url("../img/backgrounds/strawberry.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-right: 25px;
}

.promo-blog-title {
  color: #323232;
  font-weight: 500;
}

.promo-blog-header a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

.promo-subscribe {
  background-color: #ffffff;
  background-image: url("../img/backgrounds/subscribe.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.promo-subscribe p {
  color: #5a5a5a;
}

.write-us-wrapper {
  width: 300px;
  background-color: #ffffff;
  border-radius: 15px;
}

.adress-header,
.phone-header {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.contacts-address{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}

.contacts-phone{
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
}

.contacts-worktime {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
}

.footer-nav-list a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.made-by {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.made-by a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.form-fieldset {
  border: 0;
}

.label-for-sort,
.form-fieldset legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.form-fieldset label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500
  color: #ffffff;
}

.catalog-form-btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500
  color: #ffffff;
}
